---
title: Research
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{{ header.block({
		class: "in",
		linkClass: 3
	}) }}
	{{ topic.block({
		topicClass: "in",
		title: "Research",
		attr: 'data-anim-height=515 data-anim-height-mob=330'
	}) }}
	<div class="js-anim-page" data-anim-page="full" data-scroll-page="inner"> 
		{{ header.block({ 
			logoClass: "js-page-back",
			jsClass: "js-header-main",
			linkClass: 3
		}) }}
		<!-- begin research -->
		<div class="research">
			<div class="research__row research__row_first">
				<div class="research__text">
					<p>The evolution of the cryptocurrency market follows the same fundamental principles as traditional financial markets. At the same time, cryptocurrencies possess certain idiosyncrasies. For this reason, the practical implementation of tried and tested procedures used within traditional financial markets, fail to yield positive results.</p>
					<p>Today, the most significant research problems in the field of cryptocurrencies, include finding the optimal exit strategies, examining efficiency of arbitrage, identifying current price drivers, as well as building forecast models and optimizing cryptocurrency-based portfolios while taking into account liquidity constraints.</p>
				</div>
			</div>
			<div class="research__row">
				<div class="row">
					<div class="research__col col-33 col-33-md">
						<h3 class="research__title title-md">Competition in the Cryptocurrency Market</h3>
						<div class="research__description description">Examines competition between various cryptocurrencies and cryptocurrency exchanges through application of statistical methods.</div>
						<div class="research__date">Gandal, N., & Halaburda, H. (2014). Bank of Canada Working Paper, No. 2014-33.</div>
						<div class="research__download download">
							<a href="#" class="download__link">
								{{ mixins.icon('download') }}
								<span>Download</span>
							</a>
							<div class="download__size">PDF, 23 kb</div>
						</div>
					</div>
					<div class="research__col col-33 col-33-md">
						<h3 class="research__title title-md">Social signals and algorithmic trading of Bitcoin</h3>
						<div class="research__description description">Proposes building a vector autoregressive model which treats community sentiment as a price driver.</div>
						<div class="research__date">Garcia, D., & Schweitzer, F. (2015). Open Science, 2(9), 150288.</div>
						<div class="research__download download">
							<a href="#" class="download__link">
								{{ mixins.icon('download') }}
								<span>Download</span>
							</a>
							<div class="download__size">PDF, 23 kb</div>
						</div>
					</div>
					<div class="research__col col-33 col-33-md">
						<h3 class="research__title title-md">What are the main drivers of the Bitcoin price? Evidence from wavelet coherence analysis</h3>
						<div class="research__description description">Applies the wavelet transform technique to examine the importance of various price drivers, previously proposed to explain Bitcoin price dynamics.</div>
						<div class="research__date">Kristoufek, L. (2015). PloS one, 10(4), e0123923.</div>
						<div class="research__download download">
							<a href="#" class="download__link">
								{{ mixins.icon('download') }}
								<span>Download</span>
							</a>
							<div class="download__size">PDF, 23 kb</div>
						</div>
					</div>
				</div>
			</div>
			<div class="research__row research__row_mod">
				<h3 class="research__title-medium title-medium">Research Digest</h3>
				<div class="research__text">
					<p>For further information, please find below is a selection of academic articles which examine and discuss the current state of research into cryptocurrencies.</p>
				</div>
				<div class="research__doc doc doc_mb">
					<div class="doc__img">
						<img src="./img/doc.svg" alt="img">
					</div>
					<div class="doc__wrap">
						<h3 class="doc__title title-md">Cipher Principles Research digest</h3>
						<div class="doc__download download">
							<a href="#" class="download__link">
								{{ mixins.icon('download') }}
								<span>Download</span>
							</a>
							<div class="download__size">PDF, 23 kb</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end research -->
		{{ footer.block({
			classList: 'footer_md',
			logo: true,
			title: 'Supercharge your investment with Cipher Principles crypto fund'
		}) }}

		
	</div>

{% endblock %}
