---
title: Research
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{{ header.block({
		class: "in",
		linkClass: 3
	}) }}
	{{ topic.block({
		topicClass: "in",
		title: "Research",
		attr: 'data-anim-height=515 data-anim-height-mob=330'
	}) }}
	<div class="js-anim-page" data-anim-page="full" data-scroll-page="inner"> 
		{{ header.block({ 
			logoClass: "js-page-back",
			jsClass: "js-header-main",
			linkClass: 3
		}) }}
		{{ footer.block({
			classList: 'footer_md',
			logo: true,
			title: 'Supercharge your investment with Cipher Principles crypto fund'
		}) }}
	</div>

{% endblock %}
