<!-- begin scenario -->
<div class="scenario" data-section="how">
	{% for item in [
		{
			img: 'scenario-1.jpg',
			label: 'How we do it',
			title: 'Secured by science',
			description: 'Our team of data scientists work on the development of cryptocurrency investment strategies. (Optimal exit strategies, efficiency of arbitrage, price drivers, forecast models and optimization of cryptocurrency-based portfolios with regard to liquidity constraints).'
		},
		{
			img: 'scenario-2.jpg',
			label: 'How we do it',
			title: 'Regulated custody & execution',
			description: 'Advisory services provided by a legitimate FCA registered investment vehicle and supported by Dolfin, who provides specialised crypto-custody and execution services.'
		},
		{
			img: 'scenario-3.jpg',
			label: 'How we do it',
			title: 'Strategic investment infrastructure',
			description: 'A better investment management infrastructure, which includes: Corporate accounts on cryptocurrency exchanges, selected trading platforms, supervised digital asset storage methods, portfolio valuation confirmed by a regulated administrator & portfolio.'
		}
	] %}
		<div class="scenario__item">
			<div class="scenario__img" style="background-image: url(img/{{item.img}});"></div>
			<div class="scenario__content">
				<div class="scenario__header js-rellax">
					<div class="label scenario__label">{{item.label}}</div>
					<h2 class="title-lg title-lg_simple scenario__title">{{item.title}}</h2>
				</div>
				<div class="scenario__description js-rellax">
					<p>{{item.description}}</p>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
<!-- end scenario -->