.disclaimer
	position: fixed
	top: 0
	right: 0
	left: 0
	bottom: 0
	padding: 20px 0 30px 
	color: $white 
	z-index: 100
	overflow-y: auto
	background-color: #2D5442 
	+vertical
	.ps__rail-y
		margin-top: 30px !important
	ul li
		position: relative
		padding-left: 30px
		display: block
		&:before
			position: absolute
			content: "" 
			top: 4px
			left: 0
			width: 5px
			height: 5px
			border-radius: 50% 
			background-color: $white 
		&:not(:first-child)
			margin-top: 14px
	&__inner
		padding: 0 20px
		width: 100%
		max-width: 686px 
		text-align: left
		vertical-align: middle
		display: inline-block
		+f(14px,400,1.2)
		letter-spacing: -0.015em
	&__info
		padding-bottom: 8px
		+f(16px,400,1.5)
	&__title
		padding-bottom: 25px
		letter-spacing: -0.04em 
	&__wrap
		position: relative
		min-height: 150px
		overflow: auto
		border-top: 1px solid rgba($white,.2) 
		&:before
			position: absolute
			content: "" 
			left: 0
			right: 20px
			bottom: 0
			height: 90px
			z-index: 1
			pointer-events: none
			box-shadow: inset 0 -60px 60px #2D5442
		&:after
			position: absolute
			content: "" 
			top: 0
			left: 0
			right: 20px
			height: 30px
			z-index: 1
			pointer-events: none
			box-shadow: inset 0 25px 25px #2D5442
	&__text
		position: relative
		padding: 30px 20px 60px 0
		overflow: auto
		height: 100%
		p:not(:last-child)
			margin-bottom: 30px
	&__footer
		padding-top: 25px
		text-align: center
		+sm
			padding-bottom: 40px
		.btn,
		.btn-transparent
			&:not(:first-child)
				margin-left: 20px
				+sm
					margin-left: 10px