.header
	position: absolute
	top: 0
	left: 0
	right: 0
	padding-top: 28px
	z-index: 102
	height: 80px
	color: $black 
	transition: transform .3s, opacity .3s, visibility .3s
	background-color: $alabaster 
	+md
		padding-top: 20px
		height: 73px
		color: $white 
	&:before
		position: absolute
		content: ""
		top: 0
		left: 50%
		margin-left: -50vw
		width: 100vw 
		height: 100%
		background-color: $alabaster 
	&_blue
		background-color: $blue 
		color: $white
		&:before
			background-color: $blue 
	&.is-fixed
		position: fixed
	[data-scroll-page="inner"] &
		.is-show-inner-header &
			transform: translateY(0)
			opacity: 1
			visibility: visible
	[data-scroll-page="inner"] &
		position: fixed
		transform: translateY(-123px)
		opacity: 0
		visibility: hidden
	&[data-anim-from]
		position: absolute
	&_anim,
	&_in
		color: $white 
		background-color: transparent
		&:before
			display: none
	&_in
		position: fixed
		.is-show-inner-header &
			opacity: 0
			visibility: hidden
	&_anim
		position: fixed
		z-index: 101
	&__inner
		position: relative
		max-width: 1680px
		+md
			padding: 0 20px
	&__lang
		+md
			position: absolute
			bottom: 84px
			left: 40px
		+sm
			bottom: 94px
	&__share,
	&__mail
		position: absolute
		right: 30px
		display: none
		+md
			display: block
	&__share
		top: 240px
		font-size: 20px
		+sm
			top: 170px
	&__mail
		bottom: 88px
		font-size: 14px
		+sm
			bottom: 98px
	&__wrap
		+md
			position: absolute
			top: -20px
			right: 0
			width: 100vw
			z-index: 200
			opacity: 0
			visibility: hidden
			padding: 120px 60px 160px 40px
			min-height: 100vh
			overflow: auto
			transition: opacity .3s ease-in-out, visibility .3s ease-in-out
			background-image: linear-gradient(-143deg, #0A2F2A 0%, #2D5442 89%)
			&.is-open
				opacity: 1
				visibility: visible
	&__logo
		transform: translate3d(0,0,0)
		transition: transform .35s
		.js-header-main.is-fixed &
			+md
				transform: scale(0.6) translate3d(-40px,-30px,0)
		
.logo
	position: relative
	float: left
	z-index: 201
	+md
		height: 70px
	svg,
	img
		height: 100%
		width: auto
		display: block
	svg,
	svg g,
	svg path,
	svg poligon,
	svg mask
		fill: $heavyMetal
		transition: fill .3s ease-in-our
		.is-active &
			+md
				fill: $white 
		.header_anim &,
		.header_in &,
		.header_blue &
			fill: $white
	svg [stroke-linecap="square"]
		stroke: $heavyMetal
		transition: fill .3s ease-in-our
		.is-active &
			+md
				stroke: $white 
		.header_anim &,
		.header_in &,
		.header_blue &
			stroke: $white
.nav
	float: left
	margin-left: 167px
	font-size: 16px
	font-weight: 700
	+lg
		margin-left: 130px
	+md
		margin-left: 0
		font-size: 35px
		line-height: 1.1
	+sm
		font-size: 32px
	&__item
		vertical-align: top
		display: inline-block
		+md
			display: block
		&:not(:first-child)
			margin-left: 63px
			+md
				margin: 27px 0 0
			+sm
				margin-top: 17px
		&.is-active
			.nav__link
				opacity: 1
				.header_anim &,
				.header_in &,
				.header_blue &
					color: $white 
	&__link
		opacity: .6
		color: $black  
		transition: opacity .3s ease-in-out
		+md
			color: $white 
		+hover
			opacity: 1
		&.is-active
			opacity: 1
			color: $green 
			[data-anim-page="full"] &
				color: $white 
			.header_anim &,
			.header_in &,
			.header_blue &
				color: $white 
				+md
					color: $white  
		.header_anim &,
		.header_in &,
		.header_blue &
			color: $white 
.lang
	position: relative
	float: right
	padding-right: 12px
	min-width: 12px
	font-size: 16px
	font-weight: 700
	text-align: right
	cursor: pointer
	user-select: none
	+md
		padding-right: 30px
		font-size: 35px
		line-height: 1.1
	+sm
		font-size: 32px
	&.is-active
		&:before
			transform: rotate(180deg)
		.lang__list
			opacity: 1
			visibility: visible
			transform: translateY(0)
	&:before
		position: absolute
		content: ""
		top: 50% 
		right: 0
		margin-top: -2px
		transition: transform .35s cubic-bezier(0.77, 0, 0.175, 1) 
		+arr(7,4,$black,b)
		.header_anim &,
		.header_in &,
		.header_blue &
			+arr(7,4,$white,b)
			+md
				+arr(18,10,$white,b)
		+md
			margin-top: -5px
			+arr(18,10,$white,b)
	&__current
		position: relative
		z-index: 1
		&:before
			position: absolute
			content: "" 
			top: 0
			left: 0
			right: -12px
			bottom: 0
			+md
				right: -40px 
	&__list
		position: absolute
		top: 100%
		width: 200px
		margin-top: -2px
		right: 0
		opacity: 0
		transform: translateY(8px)
		visibility: hidden
		transition: opacity .35s cubic-bezier(0.77, 0, 0.175, 1), visibility .35s cubic-bezier(0.77, 0, 0.175, 1), transform .35s cubic-bezier(0.77, 0, 0.175, 1)
		+md
			margin: 0 0 12px
		.header__wrap &
			+md
				top: auto
				right: auto
				left: 0
				bottom: 100%
				text-align: left
				transform: translateY(-8px)
	&__item
		margin-top: 10px
		line-height: 1.1
		display: block
		a
			color: $black
			+md
				color: $white 
			.header_anim &,
			.header_in &,
			.header_blue &
				color: $white 
		
.btn-open-nav
	position: relative
	float: right
	z-index: 201
	width: 31px
	height: 31px
	background-color: transparent
	display: none
	+md
		display: block
	&.is-active
		span
			border-color: $white 
			&:nth-child(1)
				transform: rotate(45deg) translate3d(6px,-3px,0)
			&:nth-child(2)
				opacity: 0
				transform: scaleX(0)
			&:nth-child(3)
				transform: rotate(-45deg) translate3d(7px,2px,0)
	span
		position: absolute
		left: 0
		width: 31px
		border-top: 4px solid $black
		opacity: 0.87
		transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out, border-color 0.3s
		.header_anim &,
		.header_in &,
		.header_blue &
			border-color: $white 
		&:nth-child(1)
			top: 0
			transform-origin: left top
		&:nth-child(2)
			top: 14px
			transform-origin: left center
		&:nth-child(3)
			bottom: 0
			transform-origin: left bottom