.main
	padding: 197px 40px 0
	margin: 100vh auto 0
	max-width: 1680px
	+xl 
		padding-left: 20px
		padding-right: 20px
	&__inner
		position: relative
	&__content
		margin-left: 380px
		+xl 
			margin-left: 340px