.icon-cogs {
  width: 1.09em;
  height: 1em;
  fill: #000;
}
.icon-coins {
  width: 0.83em;
  height: 1em;
  fill: #000;
}
.icon-down {
  width: 1.76em;
  height: 1em;
  fill: #0171BB;
}
.icon-eye {
  width: 1.71em;
  height: 1em;
  fill: #000;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
